@model EntityFrameworkLabb1.Models.Domain.VacationList

@{
    ViewData["Title"] = "Create";
}

<h1>Lägg till</h1>

<h4>Ledighetslista</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="AskDate" value="@DateTime.Now" class="form-control" />
                <span asp-validation-for="AskDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FK_Id" class="control-label"></label>
                <select asp-for="FK_Id" class ="form-control" asp-items="ViewBag.FK_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="FK_VacationId" class="control-label"></label>
                <select asp-for="FK_VacationId" class ="form-control" asp-items="ViewBag.FK_VacationId"></select>
            </div><br/>
            <div class="form-group">
                <input type="submit" value="Lägg till" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till listan</a>
</div>

