@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Välkommen</h1><br/>

            <h3>På den här hemsidan kan du göra följande:</h3><br/>
            <ol>Se en översikt över personal, ledighetstyper samt ledighetsansökningar</ol>
            <ol>Lägga till personal</ol>
            <ol>Lägga till ledighetstyp</ol>
            <ol>Lägga till ledighetsansökan</ol>
</div>
