@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Välkommen</h1><br/>
    <h3>På den här hemsidan kan du göra följande:</h3><br/>
            <li>Se översikt över personal</li>
            <li>Se översikt av ledighetstyper</li>
            <li>Se översikt av ledighetsansökningar</li>
            <li>Lägga till personal</li>
            <li>Lägga till ledighetstyp</li>
            <li>Lägga till ledighetsansökan</li>
</div>
